version: "3.9"

services:
  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

  api:
    build: .
    container_name: sistema_rag_api
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    ports:
      - "8000:8000"
    depends_on:
      - redis
    volumes:
      - ./backend:/app # hot reload con tu código local
    env_file:
      - .env
  worker:
    build: .
    container_name: sistema_rag_worker
    command: python worker/worker.py
    depends_on:
      - redis
    volumes:
      - ./backend:/app # comparte código con api
    env_file:
      - .env
    environment:
      - PYTHONPATH=/app
